<mat-dialog-content>
  <h2 class="white-color">{{ dialogData.companyName | titlecase }}</h2>
  <h4>id: {{ dialogData.id }}</h4>
  <mat-divider></mat-divider>
  <ul>
    <li><p class="grey-color">Vat number: </p> <p class="white-color">{{ dialogData.vatNumber }}</p> </li>
    <li><p class="grey-color">Address: </p> <p class="white-color">{{ dialogData.address }}</p> </li>
    <li><p class="grey-color">IBAN: </p> <p class="white-color">{{ dialogData.iban | uppercase }}</p> </li>
    <li><p class="grey-color">Phone number: </p> <p class="white-color">{{ dialogData.phoneNumber }}</p> </li>
    <li><p class="grey-color">E-mail: </p> <p class="white-color">{{ dialogData.email }}</p> </li>
    <li><p class="grey-color">PEC: </p> <p class="white-color">{{ dialogData.pec }}</p> </li>
    <li><p class="grey-color">Fax: </p> <p class="white-color">{{ dialogData.fax }}</p> </li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="close-button" mat-flat-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>