<div *ngIf="!isLoading; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <h2>Lista dipendenti</h2>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%"
                *ngFor="let employee of employeeList$ | async">
                <mat-card class="card mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>{{employee.firstName}} {{employee.lastName}}</mat-card-title>
                        <mat-card-subtitle>{{employee.address}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{employee.phoneNumber}}</p>
                        <p>{{employee.email}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" (click)="openDetail(employee)"><mat-icon>info</mat-icon>DETTAGLI</button>
                        <button mat-button color="primary" (click)="updateEmployee(employee)"><mat-icon>build</mat-icon> MODIFICA</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <button mat-button color="primary" (click)="esportaCSV()" >ESPORTA DATI COME CSV</button>
</ng-template>
<ng-template #elseBlock>
    <div class="center">
        <mat-spinner></mat-spinner>

    </div>
</ng-template>