<div class="container">
  <mat-card *ngIf="companies">
    <mat-card-header>
      <mat-card-title>{{ companies[0].companyName }}</mat-card-title>
      <mat-card-subtitle>{{ companies[0].address }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Contacts: <br>
        - {{ companies[0].email }} <br>
        - {{ companies[0].phoneNumber }}
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button class="open-button" mat-flat-button color="primary">Open</button>
      <button mat-flat-button color="primary">Details</button>
    </mat-card-actions>
  </mat-card>
</div>