<!-- account panel -->
<div class="expansion-container">
  <mat-expansion-panel class="expansion-panel mat-elevation-z2" (opened)="showExpansionPanel=true" (closed)="showExpansionPanel=false">
    <mat-expansion-panel-header>
      <mat-panel-title>Account</mat-panel-title>
    </mat-expansion-panel-header>
    <p class="grey-text">User:</p> <p>paolo897</p>
    <p class="grey-text">Type:</p> <p>admin</p>
    <button class="logout-button" mat-flat-button color="primary">Log-out</button>
  </mat-expansion-panel>
</div>

<!-- search button -->
<div class="search-container">
  <button mat-fab class="mat-elevation-z0" color="primary" (click)="openBottomSheet()">
    <mat-icon>{{ searchIconState }}</mat-icon>
  </button>
</div>

<mat-drawer-container [hasBackdrop]="false">
  <!-- toolbar -->
  <mat-toolbar class="first-tool-bar" color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-span">Companies</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>

  <!-- drawer -->
  <mat-drawer #drawer mode="side">
    <div class="container">
      <p class="drawer-text">Manage</p>
      <button class="drawer-button" mat-flat-button color="primary">Add company</button>
      <button class="delete-button" mat-flat-button color="primary">Delete company</button>
    </div>

    <mat-divider class="drawer-divider"></mat-divider>

    <div class="container">
      <p class="drawer-text">Misc</p>
      <button class="drawer-button" mat-flat-button color="primary">Export as CSV</button>
    </div>
  </mat-drawer>

  <!-- cards -->
  <div class="container">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex="20%" fxFlex.xs="100%" fxFlex.md="33%" fxFlex.sm="50%" *ngFor="let company of filteredCompanies">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ company.companyName | titlecase }}</mat-card-title>
            <mat-card-subtitle>{{ company.address | titlecase }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="card-text">Contacts:</p>
            <ul>
              <li>{{ company.email }}</li>
              <li>{{ company.phoneNumber }}</li>
            </ul>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            <button class="card-button" mat-flat-button color="primary">Open</button>
            <button class="card-button" mat-stroked-button (click)="openDetails(company)">Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</mat-drawer-container>