.container {
  margin: 10px;
}

.mat-drawer-container {
  height: 100%;
}


/* drawer */

.mat-drawer {
  width: 250px;
}

.drawer-text {
  font-size: larger;
  text-align: center;
}

.drawer-input {
  width: 100%;
}

.drawer-button {
  width: 100%;
}

.delete-button {
  margin-top: 10px;
  width: 100%;
}


/* toolbar */

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-span-user {
  color: #c7c7c7;
  font-size: 16px;
  margin-right: 4px;
}

.toolbar-span-name {
  margin-right: 10px;
  font-size: 16px;
}

.toolbar-button {
  margin-right: 10px;
}


/* company cards */

mat-card-title {
  color: #ffffff;
}

mat-card-actions {
  margin: 8px;
}

.card-text {
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

li {
  margin-left: -26px;
}

.card-button {
  margin-right: 8px;
}